# Aliases
alias ll='eza -la'
alias la='eza -a'
alias lt='eza --tree'
alias cat='bat'
alias find='fd'
alias grep='rg'
alias top='btop'
alias docker='docker'
alias k='kubectl'
alias tf='terraform'
alias tg='terragrunt'
alias llm='thegent run'
alias ag='thegent agent'
